body {
    position: fixed;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 0px;
}

.main-space {
    background-color: #f6f6f6;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 0px;
}

.tab-bar-button {
    margin-left: 0px;
    height: 100%;
    width: 60px;
    background-color: #5d5d5d;
}

.tab-bar-button button {
    margin-top: 0px;
    height: 60px;
    width: 60px;
    border: none;
}

.tab-bar-button button i {
    height: 100px;
    width: 100px;
    font-size: 26px;
}

.workspace {
    position: absolute;
    margin-left: 60px;
    height: 100%;
    width: calc(100% -60px);
    background-color: #f6f6f6;
}

.workspace-header {
    position: fixed;
    top: 10px;
    margin-left: 70px;
    right: 10px;
    min-width: calc(100% - 80px);
    max-width: calc(100% - 80px);
    display: flex;
    height: 100px;
    background-color: #ffffff;
}

.workspace-header p {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 120px;
    bottom: 0px;
    margin-top: auto;
    height: 50px;
    width: 400px;
    color: #000000;
}

.datetime-component {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    right: 20px;
    bottom: 45px;
    font-size: 14px;
}

.datetime-component a {
    overflow: auto;
}

.header-icon {
    visibility: visible;
    height: 150px;
    margin-top: 0px;
    width: auto;
    /* Maintain aspect ratio */
}

.machine-bar {
    width: 500px;
    border-radius: 8px;
    align-self: center;
}

.main-workspace {
    position: absolute;
    width: 100%;
    margin-top: 200px;
    background-color: #f6f6f6;
}

.dashboard-container {
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    top: 120px;
    left: 70px;
    right: 10px;
    bottom: 60px;
    width: calc(100% - 70px -10px);
    height: calc(100% - 120px - 60px);
    background-color: #ffffff;
}

.component {
    background-color: white;
    border-color: #000000;
    border-width: 1px;
}

.footer {
    background-color: #9e9d9d;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
}

.footer p {
    text-align: left;
    margin-top: 2px;
}

.button-bar {
    list-style-type: none;
    padding: 0;
}

.button-bar li {
    display: inline;
}

.button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    padding: 0px 0px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.button.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.dashboard {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adjust the height as needed */
    border-width: 1px;
    border-color: #000000;
    max-width: 700px;
    max-height: 400px;
    background-color: #ffffff;
}

#bar-chart-deoc-defect {
    width: 700px;
    height: 400px;
    grid-column: 1;
    margin-left: 10px;
}

#line-chart-deoc {
    grid-column: 1;
    width: 700px;
    height: 300px;
    margin-left: 10px;
}

#line-chart-line {
    margin-top: 50px;
    grid-column: 2;
    width: 500px;
    height: 300px;
}

#line-chart-sku {
    grid-column: 2;
    width: 500px;
    height: 300px;
}

.inside-container {
    position: absolute;
    top: 50px;
    right: 10px;
    height: 700px;
    width: 350px;
    border-width: 1px;
    border-color: #000000;
    grid-column: 3;
    z-index: 10;
    background-color: #ffffff;
}

.inside-header {
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: rgb(3, 3, 135);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
}


/* Optional: Add additional styles for the chart canvas or its parent container */